@charset "UTF-8";
/*

LACNIC - css portales genéricos - martin@lacnic.net 2016

*/
/* -- LACNIC fuente / Foundry, bold - light -- */
@font-face {
    font-family: 'foundrymonolinebold';
    src: url('../font/foundrymonoline-bold-webfont.woff2') format('woff2'),
    url('../font/foundrymonoline-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'foundrymonolinelight';
    src: url('../font/foundrymonoline-light-webfont.woff2') format('woff2'),
    url('../font/foundrymonoline-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* -- generales -- */
body{background-color: #f7f7f7;}
strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

a {
    /* enlace general */
    text-decoration: none;
    color: #009dca;
}

a:hover {
    text-decoration: underline;
    color: #0d6e84;
}

a:visited {
    color: #0d6e84;
}

a img {
    border: none;
}
img{border:none;}

/* -- estilos de texto y cabezales -- */
p {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 12pt;
    padding: 5px 0;
    margin: 5px 10px;
    color: #222;
    text-align: justify;
}

ol, ul {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    line-height: 12pt;
    padding: 5px 5px 5px 50px;
    margin: 5px 10px;
    color: #222;
    text-align: left;
}

h1 {
    font-family: 'foundrymonolinebold';
    font-size: 30pt;
    padding: 5px 0;
    margin: 0 0 15px 0;
    text-align: left;
    color: #4c4c4e;
}

h2 {
    font-family: 'foundrymonolinebold';
    font-size: 24pt;
    padding: 5px 0;
    margin: 10px 0;
    text-align: left;
    color: #222;
}

h3 {
    color: #222;
    font-family: 'foundrymonolinelight';
    font-size: 20pt;
    padding: 5px;
    margin: 10px 0;
    text-align: left;
}

h4 {
    color: #808080;
    font-family: 'foundrymonolinelight';
    font-size: 16pt;
    padding: 5px;
    margin: 10px 0;
    text-align: left;
}

#barra-primaria {
    border-radius: 0;
    border: none;
    margin: 0;
	background-color: #000;
	padding:15px 50px;
}
#barra-primaria img {
    float:left;
}
#barra-primaria > #titulo-primario > h2 {
    color: #ffffff;
    font-family: 'foundrymonolinelight';
    text-decoration: none;
}

#barra-secundaria > p {
    color: #ffffff;
    font-family: 'foundrymonolinelight';
    text-align: right;
    border-radius: 0;
    margin: 0;
    padding-right: 1em;
}

#barra-secundaria > ul > li > a, #barra-secundaria > ul > li > a:visited{
  color: #EFEFEF;
  text-shadow: 0 0;
  font-family: 'foundrymonolinebold';
}

#barra-secundaria > ul > li > a:hover{
  color:#FFFFFF;
  background-color: transparent;
}

#barra-secundaria {
    border-radius: 0;
}

#fondo {
    margin-top: 0pt;
	background-color: #fff;
}

footer {
  padding: 20px 120px;
  background-color: #808080;
    height: 94pt;
}
footer img {
  float:right;
}

.jumbotron {
    margin: 1em;
	background-color: #f7f7f7;
}

.jumbotron > p {
    font-size: 10pt;
}

.jumbotron > h1 {
    font-family: 'foundrymonolinebold';
    font-size: 30pt;
    padding: 5px 0;
    margin: 0 0 15px 0;
    text-align: left;
    color: #4c4c4e;
}
