#barra-primaria {
    background-color: #9b1f16;
}

#barra-secundaria {
    background-color: #c53526;
}

#barra-secundaria > p {
    background-color: #F77676;
}

.jumbotron {
	background-color: #FCFCFC;
}

#fondo {
	background-color: #F7F7F7;
}

body {
	background-color: #E6E6E6;
}

#highlight {
	color: #F43333;
}

footer {
  background-color: #404041;
  padding: 15px;
}