Django==1.9.6
django-admin-bootstrapped==2.3.5
django-cors-headers==1.1.0
django-extensions==1.6.1
django-sslserver==0.19
django-tastypie==0.13.1
geoip2==2.1.0
httplib2==0.9.1
ipaddr==2.1.11
lxml==3.3.5
maxminddb==1.2.0
netaddr==0.7.13
newrelic==2.50.0.39
numpy==1.11.0
psycopg2==2.6.1
pyping==0.0.4
python-mimeparse==1.5.2
six==1.10.0
trparse==0.1.0
