{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block headers %}
    <!-- Google Charts -->
    {#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>#}
    {#    <script src="https://www.google.com/jsapi" type="text/javascript"></script>#}
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
{% endblock %}

{% block css %}
{% endblock css %}

{% block javascript %}
    {{ nat_pressure_chart | safe }}
    {{ private_prefix_chart | safe }}
{% endblock javascript %}

{% block title %}{% trans "Charts" %}{% endblock title %}


{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">
            {% trans "Gráficas y estadísticas" %}
        </h1>

        <p>{% trans "Actualizado: " %} {{ report.date.date.isoformat }}</p>
        <p>{% trans "Ventana de tiempo: últimos" %} {{ report.window }} {% trans "días" %}</p>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float:left;">
            <h2>{% trans "Casos de NAT" %}</h2>
            <p>{% trans "La siguiente tabla muestra los registros más reciente de las mediciones NAT que estamos realizando. En el marco de estas mediciones, un cliente es equivalente a un navegador web." %}</p>
            <table class="table">
                <thead>
                    <th></th>
                    <th>{% trans "Región LAC" %}</th>
                    <th>{% trans "Todos los resultados" %}</th>
                </thead>
                <tbody>
                <tr>
                    <th>{% trans "Mediciones detrás de NAT " %}</th>
                    <td>{{ report.all_nat | floatformat:2 }}%</td>
                    <td>{{ report.all_nat_world | floatformat:2 }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Mediciones detrás de NAT 44" %}</th>
                    <td>{{ report.v4_nat | floatformat:2 }}%</td>
                    <td>{{ report.v4_nat_world | floatformat:2 }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Mediciones detrás de NAT 66" %}</th>
                    <td>{{ report.v6_nat | floatformat:2 }}%</td>
                    <td>{{ report.v6_nat_world | floatformat:2 }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Mediciones Natteados con NPT (v6)" %}</th>
                    <td>{{ report.npt | floatformat:2 }}%</td>
                    <td>{{ report.npt_world | floatformat:2 }}%</td>
                </tr>

                <tr>
                    <th>{% trans "Mediciones con NAT64" %}</th>
                    <td>{{ report.nat64 | floatformat:2 }}%</td>
                    <td>{{ report.nat64_world | floatformat:2 }}%</td>
                </tr>

{#                <tr>#}
{#                    <th>{% trans "Prefijos públicos vistos detrás de NAT" %}</th>#}
{#                    <td></td>#}
{#                    <td>{{ report.public_pfxs_nat_free_0_false_percentage | floatformat }}%</td>#}
{#                </tr>#}



            </table>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float: right">
            <h2>{% trans "Participación por país" %}</h2>
            <p>
                {% blocktrans %}Las mediciones realizadas en este experimento se realizan desde un navegador a medida
                    que los usuarios
                    navegan por sitios que colaboran con el proyecto NAT Meter. Los usuarios pertenecen mayoritariamente
                    a los
                    siguientes países (geolocalización con Maxmind)
                {% endblocktrans %}
            </p>
            <div id="country_participation"></div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float:left;">
            <h2>{% trans "Otras estadísticas derivadas" %}</h2>
            <p>{% trans "Además de las estadísticas de uso de NAT, las mediciones nos ayudan a observar otras componentes de la operativa de Internet." %}</p>
            <table class="table">
                <tbody>
                <thead>
                    <th></th>
                    <th>{% trans "Región LAC" %}</th>
                    <th>{% trans "Todos los resultados" %}</th>
                </thead>
                <tr>
                    <th>{% trans "Mediciones desde hosts Dualstack" %}
                    </th>
                    <td>{{ report.dualstack | floatformat }}%</td>
                    <td>{{ report.dualstack_world | floatformat }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Mediciones desde hosts v6-only" %}</th>
                    <td>{{ report.v6_only_world | floatformat }}%</td>
                    <td>{{ report.v6_only | floatformat }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Mediciones desde hosts v6-only con capacidad v4" %} <span data-toggle="tooltip"
                                                                                            class="glyphicon glyphicon-info-sign"
                                                                                            title="{% trans "Son aquellos hosts que han sido vistos con capacidad *local* únicamente sobre v6 y de forma remota sobre v4" %}"></span>
                    </th>
                    <td>{{ report.v6_with_v4_capacity | floatformat }}%</td>
                    <td>{{ report.v6_with_v4_capacity_world | floatformat }}%</td>
                </tr>
            </table>

            <h3>{% trans "Datos históricos" %}</h3>
            <table class="table">
                <tbody>
                <tr>
                    <th></th>
                    <th>{% trans "Link a los datos" %}</th>
                </tr>
                <tr>
                    <td>
                        {% trans "Mediciones con dualstack detectado" %}
                    </td>
                    <td><a href="{% url "report_dualstack_true" %}">{% trans "aquí" %}</a></td>
                </tr>
                <tr>
                    <td>
                        {% trans "Mediciones con NAT detectado (NAT 44 o 66)" %}
                    </td>
                    <td><a href="{% url "report_nat_free_0_false" %}">{% trans "aquí" %}</a></td>
                </tr>
                <tr>
                    <td>
                        {% trans "Mediciones con NAT44 detectado" %}
                    </td>
                    <td><a href="{% url "report_nat_free_4_false" %}">{% trans "aquí" %}</a></td>
                </tr>
                <tr>
                    <td>
                        {% trans "Mediciones con NAT66 detectado" %}
                    </td>
                    <td><a href="{% url "report_nat_free_6_false" %}">{% trans "aquí" %}</a></td>
                </tr>
            </table>

{#            <h3>{% trans "charts.prefixes.h1" %}</h3>#}
{#            <p>#}
{#                {% trans "La gráfica de abajo muestra un ranking con los prefijos más utilizados detrás de una caja NAT." %}#}
{#            </p>#}
{#            <div id="prefix_counter" style="min-height: 300px;"></div>#}
        </div>

    </div>
{% endblock content %}

{% block footer %}

    <script>
        // Async CHARTS client

        CHARTS.draw({
            x: [{% for cc, val in country_participation %} {{ val | floatformat }}, {% endfor %}],
            xType: 'string',
            labels: [{% for cc, val in country_participation %} '{{ cc }}', {% endfor %}],
            kind: 'PieChart',
            divId: 'country_participation',
            colors: ['FF4B38', 'F2230C', 'CC1D0A', '991607', '871306']
        });
    </script>

{% endblock %}