{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block headers %}
    <!-- Google Charts -->
{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>#}
{#    <script src="https://www.google.com/jsapi" type="text/javascript"></script>#}
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
{% endblock %}

{% block css %}
{% endblock css %}

{% block javascript %}
    {{ nat_pressure_chart | safe }}
    {{ private_prefix_chart | safe }}
{% endblock javascript %}

{% block title %}{% trans "Charts" %}{% endblock title %}


{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">
            {% trans "Gráficas y estadísticas en la región LAC" %}
        </h1>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float:left;">
            <h2>{% trans "Casos de NAT" %}</h2>
            <p>{%  trans "La siguiente tabla muestra los registros más reciente de las mediciones NAT que estamos realizando. En el marco de estas mediciones, un cliente es equivalente a un navegador web." %}</p>
            <table class="table">
                <tbody>
                <tr>
                    <th>{% trans "Clientes detrás de NAT" %}</th>
                    <td>{{ all_nat | floatformat }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Clientes detrás de NAT 44" %}</th>
                    <td>{{ v4_nat | floatformat }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Clientes detrás de NAT 66" %}</th>
                    <td>{{ v6_nat | floatformat }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Clientes Natteados con NPT (v6)" %}</th>
                    <td>{{ npt | floatformat }}%</td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float: right">
            <h2>{% trans "Participación por país" %}</h2>
            <p>
                {% blocktrans %}Las mediciones realizadas en este experimento se realizan desde un navegador a medida que los usuarios
                    navegan por sitios que colaboran con el proyecto NAT Meter. Los usuarios pertenecen mayoritariamente a los
                    siguientes países (geolocalización con Maxmind)
                {% endblocktrans %}
            </p>
            <div id="country_participation"></div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float:left;">
            <h2>{% trans "Otras estadísticas derivadas" %}</h2>
            <p>{% trans "Además de las estadísticas de uso de NAT, las mediciones nos ayudan a observar otras componentes de la operativa de Internet." %}</p>
            <table class="table">
                <tbody>
                <tr>
                    <th>{% trans "Hosts v6-only con capacidad v4" %} <span data-toggle="tooltip" class="glyphicon glyphicon-info-sign"
                                                             title="Son aquellos hosts que han sido vistos con capacidad *local* sobre v6 y de forma remota sobre v4"></span>
                    </th>
                    <td>{{ v6_with_v4_capacity | floatformat }}%</td>
                </tr>
                <tr>
                    <th>{% trans "Hosts Dualstack" %} <span data-toggle="tooltip" class="glyphicon glyphicon-info-sign"
                                              title="Son aquellos hosts que han sido vistos con capacidad *local* sobre v6 y v4"></span>
                    </th>
                    <td>{{ dualstack | floatformat }}%</td>
                </tr>
            </table>

            <h4>{%  trans "charts.prefixes.h1" %}</h4>
            <p>
                {% trans "La gráfica de abajo muestra un ranking con los prefijos más utilizados detrás de una caja NAT." %}
            </p>
            <div id="prefix_counter" style="min-height: 300px;"></div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float: right">
            <h2>{% trans "charts.addresses.h2" %}</h2>
            <p>{% trans "charts.addresses.p" %}</p>

            <table class="table">
                <thead>
                <tr>
                    <td></td>
                    <th>IPv6</th>
                    <th>IPv4</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th>{% trans "Promedio" %}</th>
                    <td>{{ v6_avg | floatformat }}</td>
                    <td>{{ v4_avg | floatformat }}</td>
                </tr>
                <tr>
                    <th>{% trans "Máximo" %}</th>
                    <td>{{ v6_max | floatformat }}</td>
                    <td>{{ v4_max | floatformat }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block footer %}

    <script>
    // Async CHARTS client

    CHARTS.draw({
            x: [{% for cc, val in country_participation %} {{ val | floatformat }}, {% endfor %}],
            xType: 'string',
            labels: [{% for cc, val in country_participation %} '{{ cc }}', {% endfor %}],
            kind: 'PieChart',
            divId: 'country_participation',
            colors: ['FF4B38', 'F2230C', 'CC1D0A', '991607', '871306']
        });
    </script>

{% endblock %}