{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    #logo {
    font-weight: 100;
    font-size: 42px;
    }
{% endblock %}

{% block headers %}

{% endblock %}

{% block header %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>
            <font color="red">NAT</font> Meter
        </h1>

        <h3>Centro de estadísticas de NAT 44 y NAT 66.</h3>

        <p><code>NAT</code> (Network Address Translation) es un mecanismo ampliamente utilizado en Internet donde
            tradicionalmente es modificada la dirección IP fuente de un datagrama de tal manera que dicho paquete puede
            ser enrutada en Internet y recibir respuesta. Este mecanismo en el mundo de <code>IPv4</code> permite un
            ahorro
            significativo de direcciones IP.
        </p>
        <p>
            Por otro lado, <code>IPv6</code> es un protocolo que se caracteriza por su vasta cantidad de direcciones IP
            lo que ha
            traído como consecuencia que existe la hipótesis de que NAT ya no es necesario y va a desaparecer.
            Sin embargo, tanto IETF, el mundo Open Source y empresas de software ya han creado los mecanismos para
            realizar NAT en IPv6 o un mecanismo similar llamado NPT (Network Prefix Translation).
        </p>
    </div>

    <div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <h2>Objetivos</h2>
            <p>Conocer el porcentaje de despliegue NAT 44 y NAT 66 en la región de LACNIC.</p>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float: right;">
            <h2>Diagrama del estudio</h2>

            <p>
                <img src="{% static "app/imgs/stun.png" %}" style="max-width: 100%">
            </p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <a href="{% url "charts" %}"><h2>Gráficas</h2></a>
            <p>Algunas gráficas en base a estadísticas recolectadas de las mediciones.</p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <a href="{% url "script" %}"
               alt="Demostración del script.">
                <h2>Demostración</h2>
            </a>

            <p>Aquí puedes ver una pequeña demostración de lo que se puede analizar con STUN/TURN.</p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <h2>El mecanismo</h2>
            <p>
                Cuando un usuario en Internet desee abrir una página Web que colabore con este proyecto (por ejemplo el
                home de LACNIC), su
                navegador web va a conectarse silenciosa y transparentemente a un servidor STUN/TURN donde se podrá
                identificar con qué direcciones (IPv6 y/o IPv4) se está navegando en Internet. Esta información quedará
                guardada en una base de datos de LACNIC.
            </p>
            <p>
                Con el apoyo de un servidor STUN/TURN en las premisas de LACNIC y utilizando mecanismos WebRTC y
                mediante scripts JavaScripts se podrá averiguar si los clientes IPv4 e IPv6 se les realiza NAT. Esta
                tarea no impacta el performance del usuario y ocurre totalmente transparente.
            </p>
        </div>

    </div>
{% endblock %}