{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block css %}
    #logo {
    font-weight: 100;
    font-size: 42px;
    }
{% endblock %}

{% block headers %}

{% endblock %}

{% block header %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>
            <font color="red">NAT</font> Meter
        </h1>

        <h3>{% trans "home.intro" %}</h3>

        <p>
            {% trans "home.intro.p1" %}
        </p>
        <p>
            {% trans "home.intro.p2" %}
        </p>
    </div>

    <div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <h2>{% trans "home.objectives" %}</h2>
            <p>{% trans "home.objectives.p1" %}</p>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="float: right;">
            <h2>{% trans "home.diagram" %}</h2>

            <p>
                <img src="{% static "app/imgs/" %}{{ LANGUAGE_CODE }}/stun.png" style="max-width: 100%">
            </p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <a href="{% url "charts" %}"><h2>{% trans "home.charts" %}</h2></a>
            <p>{% trans "home.charts.p1" %}</p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <a href="{% url "script" %}" alt="Demostración del script.">
                <h2>{% trans "home.demo" %}</h2>
            </a>

            <p>{% trans "home.demo.p1" %}</p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="float:left;">
            <h2>{% trans "home.data" %}</h2>
            <p>
                {% trans "home.data.body" %}
            </p>

            <ul>
                <li><a href="{% static 'results.csv' %}">Datos crudos</a> del experimento</li>
                <li>Estadísticas derivadas (en breves)</li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>{% trans "home.mechanism" %}</h2>
            <p>
                {% trans "home.mechanism.p1" %}
            </p>
            <p>
                {% trans "home.mechanism.p2" %}
            </p>
        </div>

    </div>
{% endblock %}