{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
    #console {
    background: #343;
    border-radius: .2em;
    height: 20em;
    max-width: 50em;
    white-space: pre-wrap;
    padding: .5em;
    font-family: "Consolas", "Ubuntu Mono", "Monaco", monospace;
    color: white;
    overflow:auto;
    }
{% endblock css %}

{% block javascript %}

{% endblock javascript %}

{% block title %}Demo{% endblock title %}

{% block content %}

    <h2 class="page-header">Demostración del script STUN</h2>

    <h2>{% trans "This is a title in your language." %}</h2>
    <h2>{% trans "Un título en tu idioma." %}</h2>

    <p>
        La siguiente demostración realiza una consulta a servidores STUN/TURN de LACNIC, y envía los datos a la BD
        para
        construir las estadísticas a nivel regional.
    </p>
    <h4>Respuesta por parte de los servidores STUN/TURN:</h4>
    <ul></ul>

    <div class="progress progress-striped active" style="height: 5px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
             style="width:0%">
        </div>
    </div>

    <div id="console"></div>

    <script>
        var load = function () {

            function output(line) {
                $("#console").append(STUN.console.HEADER + line + "\n");
                $("#console").scrollTop(500);
            };

            STUN.callbacks.before_cookie = function () {
                output("Looking for information stored in your browser's cookies...");
            };

            STUN.callbacks.before_after_cookie = function () {
            };

            STUN.callbacks.before_private_request = function () {
                output("Looking for client's local address(es)...");
                $(".progress-bar").css('width', 10+'%').attr('aria-valuenow', 10);
            };

            STUN.callbacks.after_private_request = function () {
            };

            STUN.callbacks.after_private_stun_response = function (response) {
                output("Local response: " + response);
                $(".progress-bar").css('width', 20+'%').attr('aria-valuenow', 20);
            };

            STUN.callbacks.before_public_request = function () {
                output("Local addresses found: " + STUN.NETWORK.addresses.getPrivateAddresses());
                $(".progress-bar").css('width', 30+'%').attr('aria-valuenow', 30);

                output("Looking for client's remote address(es)...");
                $(".progress-bar").css('width', 40+'%').attr('aria-valuenow', 40);
            };

            STUN.callbacks.after_public_stun_response = function (response) {
                output("Remote STUN server response: " + response);
                $(".progress-bar").css('width', 60+'%').attr('aria-valuenow', 60);
            };

            STUN.callbacks.before_post = function () {
                output("Remote addresses found: " + STUN.NETWORK.addresses.getPublicAddresses());
                output("Posting results to central database...");
                $(".progress-bar").css('width', 80+'%').attr('aria-valuenow', 80);
            };

            STUN.callbacks.after_post = function () {
                output("Thank you for checking out this demo!");
                const bar = $(".progress-bar");
                bar.css('width', 100+'%').attr('aria-valuenow', 100);
                bar.attr("class", "progress progress-bar-success");
            };

            STUN.callbacks.error_post = function () {
                output("Something happened when posting to the central database :|");
            }
        };
    </script>

{% endblock content %}