{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
    #advanced-console {
    background: #343;
    border-radius: .2em;
    height: 20em;
    max-width: 50em;
    white-space: pre-wrap;
    padding: .5em;
    font-family: "Consolas", "Ubuntu Mono", "Monaco", monospace;
    color: white;
    overflow:auto;
    }

    #easy-console {
    background: #FCFCFC;
    border-radius: .2em;
    height: 20em;
    max-width: 50em;
    white-space: pre-wrap;
    padding: .5em;
    color: black;
    overflow:auto;
    }
{% endblock css %}

{% block javascript %}

{% endblock javascript %}

{% block title %}Demo{% endblock title %}

{% block content %}

    <h2 class="page-header">{% trans "title.demo" %}</h2>

    <p>
        {% trans "intro.demo" %}
    </p>

    {#    <ul></ul>#}

    <div class="progress progress-striped active" style="height: 5px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
             style="width:0%">
        </div>
    </div>

    <div class="col-md-6 col-lg-6 col-xl-6">
        <h4>{% trans "sub1.demo" %}</h4>
        <div id="advanced-console"></div>
    </div>

    <div class="col-md-6 col-lg-6 col-xl-6">
        <h4>{% trans "sub2.demo" %}</h4>
        <div id="easy-console"></div>
    </div>

    <script>

        function updateBarTo(value) {

            const bar = $(".progress-bar");

            if (value == 100) {
                bar.attr("class", "progress progress-bar-success");
            }

            bar.css('width', value + '%').attr('aria-valuenow', value);
        }

        function load() {

            function output(line) {
                $("#advanced-console").append(STUN.console.HEADER + line + "\n");
                $("#advanced-console").scrollTop(500);
            };

            function output_easy(line) {
                $("#easy-console").append(line + "\n");
                {#                $("#easy-console").scrollTop(500);#}
            };

            STUN.callbacks.before_cookie = function () {
                const line = "Looking for information stored in your browser's cookies...";
                {#                output_easy(line);#}
                output(line);
            };

            STUN.callbacks.after_cookie = function () {
            };

            STUN.callbacks.before_private_request = function () {
                const line = "Looking for client's local address(es)...";
                output_easy(line);
                output(line);
                updateBarTo(10);
            };

            STUN.callbacks.after_private_request = function () {
                updateBarTo(10);
            };

            STUN.callbacks.after_private_stun_response = function (response) {
                output("Local response: " + response);
                console.log("private = " + STUN.NETWORK.addresses.getPrivateAddresses());
                updateBarTo(20);
            };

            STUN.callbacks.before_public_request = function () {

                if (STUN.NETWORK.addresses.getPrivateAddresses().length > 0) {
                    output_easy("Local addresses found: ");
                    for (ip of STUN.NETWORK.addresses.getPrivateAddresses()) {
                        output_easy("  &bull;  " + ip);
                    }
                }

                output("Local addresses found: " + STUN.NETWORK.addresses.getPrivateAddresses());
                updateBarTo(30);

                output_easy("Looking for client's remote address(es)...");
                output("Looking for client's remote address(es)...");
                updateBarTo(40);
            };

            STUN.callbacks.after_public_stun_response = function (response) {

                output("Remote STUN server response: " + response);
                console.log("public = " + STUN.NETWORK.addresses.getPublicAddresses());
                updateBarTo(60);
            };

            STUN.callbacks.before_post = function () {

                if ( STUN.NETWORK.addresses.getPublicAddresses().length > 0 ) {
                    output_easy("Address(es) seen from our STUN servers: ");
                    for ( ip of STUN.NETWORK.addresses.getPublicAddresses() ) {
                        output_easy("  &bull;  " + ip);
                    }

                    output_easy("<b>NAT detected!</b>");

                } else {
                    output_easy("<b>No NAT detected!</b>");
                }

                if (STUN.NETWORK.addresses.getPublicAddresses().length > 0) {
                    output("Remote addresses found: " + STUN.NETWORK.addresses.getPublicAddresses());
                }

                output("Posting results to central database...");
                updateBarTo(80);
            };

            STUN.callbacks.after_post = function () {
                output("Thank you for checking out this demo!");
                const bar = $(".progress-bar");
                bar.css('width', 100 + '%').attr('aria-valuenow', 100);
                bar.attr("class", "progress progress-bar-success");
            };

            STUN.callbacks.error_post = function () {
                output("Something happened when posting to the central database :|");
            }
        }
    </script>

{% endblock content %}